<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fe261cbfba34e90b474c5eb503ba0119 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    
                <style>
                    #float_image_4804567a2b5515428acb2e2ac03fb705 {
                        position: absolute;
                        bottom: 70%;
                        left: 4%;
                          width: 300px;
                          height: 300px;
                        }
                </style>
            
    <script src="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ljagis/leaflet-measure@2.1.7/dist/leaflet-measure.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_fe261cbfba34e90b474c5eb503ba0119" ></div>
        
    
            <img id="float_image_4804567a2b5515428acb2e2ac03fb705" alt="float_image"
                 src="https://raw.githubusercontent.com/hyperhyena/boias/main/RosaDosVentos.png?token=GHSAT0AAAAAACPIOTZNB2K2UXL6TAJXTGYCZQBOEGQ"
                 style="z-index: 999999">
            </img>
            
</body>
<script>
    
    
            var map_fe261cbfba34e90b474c5eb503ba0119 = L.map(
                "map_fe261cbfba34e90b474c5eb503ba0119",
                {
                    center: [-27.5973002, -48.5496098],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ef11d90a7683bdcfb04d342f1241a456 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_ef11d90a7683bdcfb04d342f1241a456.addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
            var tile_layer_d4bc45f5f993f2ca77b1b93c5e5f711e = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_ed2a3d0ad734d9675dc9da42b9213a75 = new L.Control.MiniMap(
                tile_layer_d4bc45f5f993f2ca77b1b93c5e5f711e,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": true, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_fe261cbfba34e90b474c5eb503ba0119.addControl(mini_map_ed2a3d0ad734d9675dc9da42b9213a75);
        
    
            var measure_control_f92ca93c91d6ba235970095a2cc1c409 = new L.Control.Measure(
                {"position": "topright", "primaryAreaUnit": "sqmeters", "primaryLengthUnit": "meters", "secondaryAreaUnit": "acres", "secondaryLengthUnit": "miles"});
            map_fe261cbfba34e90b474c5eb503ba0119.addControl(measure_control_f92ca93c91d6ba235970095a2cc1c409);

            // Workaround for using this plugin with Leaflet>=1.8.0
            // https://github.com/ljagis/leaflet-measure/issues/171
            L.Control.Measure.include({
                _setCaptureMarkerIcon: function () {
                    // disable autopan
                    this._captureMarker.options.autoPanOnFocus = false;
                    // default function
                    this._captureMarker.setIcon(
                        L.divIcon({
                            iconSize: this._map.getSize().multiplyBy(2)
                        })
                    );
                },
            });

        
    
            var mouse_position_1bf689f1e0224f30ac373eca1773960f = new L.Control.MousePosition(
                {"emptyString": "Unavailable", "lngFirst": false, "numDigits": 5, "position": "bottomleft", "prefix": "Coordinates:", "separator": " | "}
            );
            mouse_position_1bf689f1e0224f30ac373eca1773960f.options["latFormatter"] =
                function(num) {return L.Util.formatNum(num, 6) + ' &deg; ';};;
            mouse_position_1bf689f1e0224f30ac373eca1773960f.options["lngFormatter"] =
                function(num) {return L.Util.formatNum(num, 6) + ' &deg; ';};;
            map_fe261cbfba34e90b474c5eb503ba0119.addControl(mouse_position_1bf689f1e0224f30ac373eca1773960f);
        
    
            var locate_control_4bcf27d267c6d2b504ca9b78e43583dd = L.control.locate(
                {}
            ).addTo(map_fe261cbfba34e90b474c5eb503ba0119);
            
        
    
            var feature_group_8afd066330e4a5f355849839a9cd760a = L.featureGroup(
                {}
            );
        
    
            feature_group_8afd066330e4a5f355849839a9cd760a.addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
            var feature_group_3d7c6d821b00fa3a48c3345edfc6e45c = L.featureGroup(
                {}
            );
        
    
            feature_group_3d7c6d821b00fa3a48c3345edfc6e45c.addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
            var feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa = L.featureGroup(
                {}
            );
        
    
            var marker_4dc65c27e74a236ff4e1f8c276074764 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_d7e40f3b6ebc6b6a8eed27be3ffd58c3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon-flag", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_4dc65c27e74a236ff4e1f8c276074764.setIcon(icon_d7e40f3b6ebc6b6a8eed27be3ffd58c3);
        
    
        var popup_e4a889486160f259255227efe2f396d6 = L.popup({"maxWidth": 100});

        
            
                var html_d48085b45d7d8943c633343d196987a3 = $(`<div id="html_d48085b45d7d8943c633343d196987a3" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_e4a889486160f259255227efe2f396d6.setContent(html_d48085b45d7d8943c633343d196987a3);
            
        

        marker_4dc65c27e74a236ff4e1f8c276074764.bindPopup(popup_e4a889486160f259255227efe2f396d6)
        ;

        
    
    
            var marker_a18cbbf538de303e3b4f1c19197cbf74 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_533bfd4539c84bfb4d1c76d944db4c73 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_a18cbbf538de303e3b4f1c19197cbf74.setIcon(icon_533bfd4539c84bfb4d1c76d944db4c73);
        
    
        var popup_7fc4af7e57471321705bdb62e3218388 = L.popup({"maxWidth": 100});

        
            
                var html_4853c03f30460152ffe66979b6810648 = $(`<div id="html_4853c03f30460152ffe66979b6810648" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_7fc4af7e57471321705bdb62e3218388.setContent(html_4853c03f30460152ffe66979b6810648);
            
        

        marker_a18cbbf538de303e3b4f1c19197cbf74.bindPopup(popup_7fc4af7e57471321705bdb62e3218388)
        ;

        
    
    
            var marker_3407d8ae21f6c9e01aa40d48eaa17eb1 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_1e67f74844e81af48d6ec7a90d237bc2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_3407d8ae21f6c9e01aa40d48eaa17eb1.setIcon(icon_1e67f74844e81af48d6ec7a90d237bc2);
        
    
        var popup_38ca991c3361ea44e2b36cd5219d7390 = L.popup({"maxWidth": 100});

        
            
                var html_e25b46909d45030e1aeaa404072c9df4 = $(`<div id="html_e25b46909d45030e1aeaa404072c9df4" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_38ca991c3361ea44e2b36cd5219d7390.setContent(html_e25b46909d45030e1aeaa404072c9df4);
            
        

        marker_3407d8ae21f6c9e01aa40d48eaa17eb1.bindPopup(popup_38ca991c3361ea44e2b36cd5219d7390)
        ;

        
    
    
            var marker_25dc057e56b953d586b361045cdb46de = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_444829ac47f51322098a32084eceecb7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_25dc057e56b953d586b361045cdb46de.setIcon(icon_444829ac47f51322098a32084eceecb7);
        
    
        var popup_3ad53e1aba06ac05b16e25c2494bbda8 = L.popup({"maxWidth": 100});

        
            
                var html_c88e4a302bbeaba4425bbe32740811c1 = $(`<div id="html_c88e4a302bbeaba4425bbe32740811c1" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_3ad53e1aba06ac05b16e25c2494bbda8.setContent(html_c88e4a302bbeaba4425bbe32740811c1);
            
        

        marker_25dc057e56b953d586b361045cdb46de.bindPopup(popup_3ad53e1aba06ac05b16e25c2494bbda8)
        ;

        
    
    
            var marker_0e0c53552f182f461d04601320191517 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_927c7acf9de5607a7aaa80a72d2f6efd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_0e0c53552f182f461d04601320191517.setIcon(icon_927c7acf9de5607a7aaa80a72d2f6efd);
        
    
        var popup_c2249de8ce05204949194583062fe5be = L.popup({"maxWidth": 100});

        
            
                var html_9f18434fb09109df051cac790b3b86ef = $(`<div id="html_9f18434fb09109df051cac790b3b86ef" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_c2249de8ce05204949194583062fe5be.setContent(html_9f18434fb09109df051cac790b3b86ef);
            
        

        marker_0e0c53552f182f461d04601320191517.bindPopup(popup_c2249de8ce05204949194583062fe5be)
        ;

        
    
    
            var marker_4ec4936f92ea145459763717d2a4676e = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_408c6b7fbd91b4ab1273ff18a5929213 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_4ec4936f92ea145459763717d2a4676e.setIcon(icon_408c6b7fbd91b4ab1273ff18a5929213);
        
    
        var popup_e79f45633fcd25f67c1f68843cb46da0 = L.popup({"maxWidth": 100});

        
            
                var html_5c8bd1a354c3cfff4c76497d159e0cbd = $(`<div id="html_5c8bd1a354c3cfff4c76497d159e0cbd" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_e79f45633fcd25f67c1f68843cb46da0.setContent(html_5c8bd1a354c3cfff4c76497d159e0cbd);
            
        

        marker_4ec4936f92ea145459763717d2a4676e.bindPopup(popup_e79f45633fcd25f67c1f68843cb46da0)
        ;

        
    
    
            var marker_e62bd5ff3003b11816999b7bebc296d9 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_6c93a29174214e287e4e6114cde90497 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_e62bd5ff3003b11816999b7bebc296d9.setIcon(icon_6c93a29174214e287e4e6114cde90497);
        
    
        var popup_0666df09683e18afffa23c9f256b2730 = L.popup({"maxWidth": 100});

        
            
                var html_2991e6c3c479a8979114aacdd189186a = $(`<div id="html_2991e6c3c479a8979114aacdd189186a" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_0666df09683e18afffa23c9f256b2730.setContent(html_2991e6c3c479a8979114aacdd189186a);
            
        

        marker_e62bd5ff3003b11816999b7bebc296d9.bindPopup(popup_0666df09683e18afffa23c9f256b2730)
        ;

        
    
    
            var marker_bb84fc769b663483e558f8e94d6fe1ba = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_bd38e9536c8ec6aadc149c1a8ad75924 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_bb84fc769b663483e558f8e94d6fe1ba.setIcon(icon_bd38e9536c8ec6aadc149c1a8ad75924);
        
    
        var popup_6c81725c180a08536ba7c2dacbd55842 = L.popup({"maxWidth": 100});

        
            
                var html_cd8dc6e561704ccf8cf340bf755073c5 = $(`<div id="html_cd8dc6e561704ccf8cf340bf755073c5" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_6c81725c180a08536ba7c2dacbd55842.setContent(html_cd8dc6e561704ccf8cf340bf755073c5);
            
        

        marker_bb84fc769b663483e558f8e94d6fe1ba.bindPopup(popup_6c81725c180a08536ba7c2dacbd55842)
        ;

        
    
    
            var marker_4d44f8e6781dbd4dd58f4f448490b349 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_a3b5ba13bc876ab10f2dbb6091b08bf5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_4d44f8e6781dbd4dd58f4f448490b349.setIcon(icon_a3b5ba13bc876ab10f2dbb6091b08bf5);
        
    
        var popup_741f1515a93287826fe85bd66b263889 = L.popup({"maxWidth": 100});

        
            
                var html_074199fed1b82ef88f3698fb99cfc644 = $(`<div id="html_074199fed1b82ef88f3698fb99cfc644" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_741f1515a93287826fe85bd66b263889.setContent(html_074199fed1b82ef88f3698fb99cfc644);
            
        

        marker_4d44f8e6781dbd4dd58f4f448490b349.bindPopup(popup_741f1515a93287826fe85bd66b263889)
        ;

        
    
    
            var marker_a16eedd6efffb8739f2d819421705bda = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_b74f2984659372b162b8373ff3470fb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_a16eedd6efffb8739f2d819421705bda.setIcon(icon_b74f2984659372b162b8373ff3470fb1);
        
    
        var popup_76bbdd31dd1a4c8429316ba27d903ecf = L.popup({"maxWidth": 100});

        
            
                var html_2651e54c522cbd72ac92b586272ef2cd = $(`<div id="html_2651e54c522cbd72ac92b586272ef2cd" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_76bbdd31dd1a4c8429316ba27d903ecf.setContent(html_2651e54c522cbd72ac92b586272ef2cd);
            
        

        marker_a16eedd6efffb8739f2d819421705bda.bindPopup(popup_76bbdd31dd1a4c8429316ba27d903ecf)
        ;

        
    
    
            var marker_d8fd087a676a53db54f70479f7fee073 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_cb09050c26c338e0b84a9ee317dd5f54 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_d8fd087a676a53db54f70479f7fee073.setIcon(icon_cb09050c26c338e0b84a9ee317dd5f54);
        
    
        var popup_89ba450889ae43cf94aa369f3f80961f = L.popup({"maxWidth": 100});

        
            
                var html_e8b56afadc059ff25b2aa569e63c75cd = $(`<div id="html_e8b56afadc059ff25b2aa569e63c75cd" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_89ba450889ae43cf94aa369f3f80961f.setContent(html_e8b56afadc059ff25b2aa569e63c75cd);
            
        

        marker_d8fd087a676a53db54f70479f7fee073.bindPopup(popup_89ba450889ae43cf94aa369f3f80961f)
        ;

        
    
    
            var marker_fe3aab1e254786c5b249ea144f2dd15c = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_ea0533902c1dcd6c8e7369dea85cb9fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_fe3aab1e254786c5b249ea144f2dd15c.setIcon(icon_ea0533902c1dcd6c8e7369dea85cb9fe);
        
    
        var popup_e51c5137be892398f083fb96d0f8c9a1 = L.popup({"maxWidth": 100});

        
            
                var html_59c3ed27e1329dcbd3562ab55205cfd7 = $(`<div id="html_59c3ed27e1329dcbd3562ab55205cfd7" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_e51c5137be892398f083fb96d0f8c9a1.setContent(html_59c3ed27e1329dcbd3562ab55205cfd7);
            
        

        marker_fe3aab1e254786c5b249ea144f2dd15c.bindPopup(popup_e51c5137be892398f083fb96d0f8c9a1)
        ;

        
    
    
            var marker_f36d677bb5c3556732731cae0fb0af0b = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_e7782e2d85b600bcdd137f2d2f737f47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_f36d677bb5c3556732731cae0fb0af0b.setIcon(icon_e7782e2d85b600bcdd137f2d2f737f47);
        
    
        var popup_e7e85ea6b84f0947a4b6de7fa93ffe74 = L.popup({"maxWidth": 100});

        
            
                var html_d024cac54d3ae2370ce01bfbecafbc64 = $(`<div id="html_d024cac54d3ae2370ce01bfbecafbc64" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_e7e85ea6b84f0947a4b6de7fa93ffe74.setContent(html_d024cac54d3ae2370ce01bfbecafbc64);
            
        

        marker_f36d677bb5c3556732731cae0fb0af0b.bindPopup(popup_e7e85ea6b84f0947a4b6de7fa93ffe74)
        ;

        
    
    
            var marker_57faed2cb2e31d71669b964ca3bf2955 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_2149de3be458b40fbdb40c44ff1c3efc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_57faed2cb2e31d71669b964ca3bf2955.setIcon(icon_2149de3be458b40fbdb40c44ff1c3efc);
        
    
        var popup_5aad3d570d9d6213078c26ef44e302d0 = L.popup({"maxWidth": 100});

        
            
                var html_2cfe1e3bccdab04a0a51da5dee237ad3 = $(`<div id="html_2cfe1e3bccdab04a0a51da5dee237ad3" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_5aad3d570d9d6213078c26ef44e302d0.setContent(html_2cfe1e3bccdab04a0a51da5dee237ad3);
            
        

        marker_57faed2cb2e31d71669b964ca3bf2955.bindPopup(popup_5aad3d570d9d6213078c26ef44e302d0)
        ;

        
    
    
            var marker_4a0e7879a266b2afcb5b8b084c547b87 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_3c1ef658d9cbb985d6746b47c3b116f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_4a0e7879a266b2afcb5b8b084c547b87.setIcon(icon_3c1ef658d9cbb985d6746b47c3b116f1);
        
    
        var popup_8cf8b02534f5d471b2f92472325b5964 = L.popup({"maxWidth": 100});

        
            
                var html_ea18f1ec577dfda6bd72b6809ad47462 = $(`<div id="html_ea18f1ec577dfda6bd72b6809ad47462" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_8cf8b02534f5d471b2f92472325b5964.setContent(html_ea18f1ec577dfda6bd72b6809ad47462);
            
        

        marker_4a0e7879a266b2afcb5b8b084c547b87.bindPopup(popup_8cf8b02534f5d471b2f92472325b5964)
        ;

        
    
    
            var marker_8122f7c6bbd4361ad8d48b679cc5eaf1 = L.marker(
                [-27.284464, -48.4327224],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_8df80977eadc96e390dccf8b16ca8318 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.284464, -48.4327224], "prefix": "glyphicon"}
            );
            marker_8122f7c6bbd4361ad8d48b679cc5eaf1.setIcon(icon_8df80977eadc96e390dccf8b16ca8318);
        
    
        var popup_602b37a2bc1fb37ad89acdc172ed9071 = L.popup({"maxWidth": 100});

        
            
                var html_417405fc8410c8209da2d44207927852 = $(`<div id="html_417405fc8410c8209da2d44207927852" style="width: 100.0%; height: 100.0%;">(-27.284464, -48.4327224)</div>`)[0];
                popup_602b37a2bc1fb37ad89acdc172ed9071.setContent(html_417405fc8410c8209da2d44207927852);
            
        

        marker_8122f7c6bbd4361ad8d48b679cc5eaf1.bindPopup(popup_602b37a2bc1fb37ad89acdc172ed9071)
        ;

        
    
    
            var marker_6e8bac4953f24d54df00e25497ce4a0b = L.marker(
                [-27.414, -48.518],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_0df28f4665ef6ebd826c66d42290fee6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.414, -48.518], "prefix": "glyphicon"}
            );
            marker_6e8bac4953f24d54df00e25497ce4a0b.setIcon(icon_0df28f4665ef6ebd826c66d42290fee6);
        
    
        var popup_c7ae35b028c2556c6c046ad8627341a6 = L.popup({"maxWidth": 100});

        
            
                var html_cf1068c44114b79149b3dae626e05a82 = $(`<div id="html_cf1068c44114b79149b3dae626e05a82" style="width: 100.0%; height: 100.0%;">(-27.414, -48.518)</div>`)[0];
                popup_c7ae35b028c2556c6c046ad8627341a6.setContent(html_cf1068c44114b79149b3dae626e05a82);
            
        

        marker_6e8bac4953f24d54df00e25497ce4a0b.bindPopup(popup_c7ae35b028c2556c6c046ad8627341a6)
        ;

        
    
    
            var marker_b510ee88832ad0829e79a8fbb4ce0402 = L.marker(
                [-27.414, -48.517],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_318d1bfa72ce9bfa993b384912017213 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.414, -48.517], "prefix": "glyphicon"}
            );
            marker_b510ee88832ad0829e79a8fbb4ce0402.setIcon(icon_318d1bfa72ce9bfa993b384912017213);
        
    
        var popup_933a7f104993eb044aa20860c3274fc3 = L.popup({"maxWidth": 100});

        
            
                var html_0521eaca7cd729a6b8927e9ea7429dcb = $(`<div id="html_0521eaca7cd729a6b8927e9ea7429dcb" style="width: 100.0%; height: 100.0%;">(-27.414, -48.517)</div>`)[0];
                popup_933a7f104993eb044aa20860c3274fc3.setContent(html_0521eaca7cd729a6b8927e9ea7429dcb);
            
        

        marker_b510ee88832ad0829e79a8fbb4ce0402.bindPopup(popup_933a7f104993eb044aa20860c3274fc3)
        ;

        
    
    
            var marker_182d10b9ea1ea325fbfc3bd4da23418c = L.marker(
                [-27.413, -48.517],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_4b17c3d4483f61e0ce1840d4a9d36806 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.413, -48.517], "prefix": "glyphicon"}
            );
            marker_182d10b9ea1ea325fbfc3bd4da23418c.setIcon(icon_4b17c3d4483f61e0ce1840d4a9d36806);
        
    
        var popup_d3fb56cfb57b2ad24b1ffc98a6ea97d7 = L.popup({"maxWidth": 100});

        
            
                var html_e665891e62c0f1a9948198f9c90732c2 = $(`<div id="html_e665891e62c0f1a9948198f9c90732c2" style="width: 100.0%; height: 100.0%;">(-27.413, -48.517)</div>`)[0];
                popup_d3fb56cfb57b2ad24b1ffc98a6ea97d7.setContent(html_e665891e62c0f1a9948198f9c90732c2);
            
        

        marker_182d10b9ea1ea325fbfc3bd4da23418c.bindPopup(popup_d3fb56cfb57b2ad24b1ffc98a6ea97d7)
        ;

        
    
    
            var marker_92d45b8d5fd50dc8f75e59c56350fd3f = L.marker(
                [-27.412, -48.517],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_efb39b5aad66256b0b3ebc1e46e5031e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.412, -48.517], "prefix": "glyphicon"}
            );
            marker_92d45b8d5fd50dc8f75e59c56350fd3f.setIcon(icon_efb39b5aad66256b0b3ebc1e46e5031e);
        
    
        var popup_e5fadad1ec9b9d63d47cc54ab6fc5bd7 = L.popup({"maxWidth": 100});

        
            
                var html_aefe071dc6f0ff26e75b50466e29a02f = $(`<div id="html_aefe071dc6f0ff26e75b50466e29a02f" style="width: 100.0%; height: 100.0%;">(-27.412, -48.517)</div>`)[0];
                popup_e5fadad1ec9b9d63d47cc54ab6fc5bd7.setContent(html_aefe071dc6f0ff26e75b50466e29a02f);
            
        

        marker_92d45b8d5fd50dc8f75e59c56350fd3f.bindPopup(popup_e5fadad1ec9b9d63d47cc54ab6fc5bd7)
        ;

        
    
    
            var marker_ec5de7adb312a83613603df012aa092a = L.marker(
                [-27.412, -48.516],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_afa37b7bf364206377090cfb4b8585bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.412, -48.516], "prefix": "glyphicon"}
            );
            marker_ec5de7adb312a83613603df012aa092a.setIcon(icon_afa37b7bf364206377090cfb4b8585bc);
        
    
        var popup_14c2582afb8808d3d4da3efb9ac001a4 = L.popup({"maxWidth": 100});

        
            
                var html_4d6e71a8f17283eafd2c2a700b8d741d = $(`<div id="html_4d6e71a8f17283eafd2c2a700b8d741d" style="width: 100.0%; height: 100.0%;">(-27.412, -48.516)</div>`)[0];
                popup_14c2582afb8808d3d4da3efb9ac001a4.setContent(html_4d6e71a8f17283eafd2c2a700b8d741d);
            
        

        marker_ec5de7adb312a83613603df012aa092a.bindPopup(popup_14c2582afb8808d3d4da3efb9ac001a4)
        ;

        
    
    
            var marker_8f664163dbb5a78de49f49ccda00cf56 = L.marker(
                [-27.411, -48.516],
                {}
            ).addTo(feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa);
        
    
            var icon_83f841ab5a71b086a282fd627dad78a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "circle", "iconColor": "white", "markerColor": "black", "popup": [-27.411, -48.516], "prefix": "glyphicon"}
            );
            marker_8f664163dbb5a78de49f49ccda00cf56.setIcon(icon_83f841ab5a71b086a282fd627dad78a6);
        
    
        var popup_75516c582133d909c7dbc3d2806f2518 = L.popup({"maxWidth": 100});

        
            
                var html_d37fee82b021fbc1b6fe2223cfe3a474 = $(`<div id="html_d37fee82b021fbc1b6fe2223cfe3a474" style="width: 100.0%; height: 100.0%;">(-27.411, -48.516)</div>`)[0];
                popup_75516c582133d909c7dbc3d2806f2518.setContent(html_d37fee82b021fbc1b6fe2223cfe3a474);
            
        

        marker_8f664163dbb5a78de49f49ccda00cf56.bindPopup(popup_75516c582133d909c7dbc3d2806f2518)
        ;

        
    
    
            feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa.addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
            var feature_group_1235544f7451976b691b00980e958fa4 = L.featureGroup(
                {}
            );
        
    
            feature_group_1235544f7451976b691b00980e958fa4.addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
            var poly_line_280214ccec4e63122c2415182fc0eca2 = L.polyline(
                [[-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.284464, -48.4327224], [-27.414, -48.518], [-27.414, -48.517], [-27.413, -48.517], [-27.412, -48.517], [-27.412, -48.516], [-27.411, -48.516]],
                {"bubblingMouseEvents": true, "color": "black", "dashArray": "5,10", "dashOffset": null, "fill": false, "fillColor": "black", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 30, "stroke": true, "weight": 3}
            ).addTo(map_fe261cbfba34e90b474c5eb503ba0119);
        
    
        function customFlyToBounds() {
            let bounds = L.latLngBounds([]);
            map_fe261cbfba34e90b474c5eb503ba0119.eachLayer(function(layer) {
                if (typeof layer.getBounds === 'function') {
                    bounds.extend(layer.getBounds());
                }
            });
            if (bounds.isValid()) {
                map_fe261cbfba34e90b474c5eb503ba0119.flyToBounds(bounds, {"padding": [0, 0]});
            }
        }
        map_fe261cbfba34e90b474c5eb503ba0119.on('overlayadd', customFlyToBounds);
        customFlyToBounds();
        
    
            var layer_control_619fe051a17a835984cdc342140cfe6a_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_ef11d90a7683bdcfb04d342f1241a456,
                },
                overlays :  {
                    "Boia Vermelha" : feature_group_8afd066330e4a5f355849839a9cd760a,
                    "Boia Verde" : feature_group_3d7c6d821b00fa3a48c3345edfc6e45c,
                    "Boia Preta" : feature_group_3e1b3e7a410f3f1dd9e944f6f303c9fa,
                    "Boia Laranja" : feature_group_1235544f7451976b691b00980e958fa4,
                },
            };
            let layer_control_619fe051a17a835984cdc342140cfe6a = L.control.layers(
                layer_control_619fe051a17a835984cdc342140cfe6a_layers.base_layers,
                layer_control_619fe051a17a835984cdc342140cfe6a_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_fe261cbfba34e90b474c5eb503ba0119);

        
</script>
</html>