<!DOCTYPE html>
<html>
<!--Como estruturar o arquivo index.html considerando as mudanças realizadas?
  Falar com a Bruna-->




<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Projeto Boias Livres</title>
  <link rel="icon" href="favicon.png">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/index/">
            <img src="{% static 'images/logo.png' %}" alt="" />
            <span>
              Boias Livres
            </span>
          </a>
          <div class="contact_nav" id="">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href= "/boias/" >
                  <img src="{% static 'images/location.png' %}" alt="" />
                  <span>Lab ECO - EMC - UFSC</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/boias/">
                  <img src="{% static 'images/call.png' %}images/call.png" alt="" />
                  <span>Contato : + 55 48 9 </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://www.veleiro.eco.br/pt/">
                  <img src="{% static 'images/envelope.png' %}" alt="" />
                  <span>Visite o site do Veleiro ECO</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div class="custom_nav2">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item active">
                    <a class="nav-link" href="/index/">Início<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about/">Sobre </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/boias/">Boias </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact/">Entre em contato</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <!-- bolinhas do carrossel, tirar do comment se quiser adc mais
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Projeto
                      </h2>
                      <h1>
                        Boias Livres
                      </h1>
                      <p>
                        O Projeto Boias Livres é promovido pelo Laboratório ECO, o Laboratório de Engenharia e Ciências Oceânicas
                        da Universidade Federal de Santa Catarina.
                      </p>
                      <div class="btn-box">
                        <a href="/boias/" class="btn-1">
                          Ver Boias
                        </a>
                        <!--<a boias.html" class="btn-2">
                          Acompanhe as Boias
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           <!-- 
            </div>
            <div class="carousel-item ">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Get Your Body
                      </h2>
                      <h1>
                        Fitness Here
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Read More
                        </a>
                        <a href="" class="btn-2">
                          Get A Quote
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
            <div class="carousel-item ">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                    <div class="detail-box">
                      <h2>
                        Get Your Body
                      </h2>
                      <h1>
                        Fitness Here
                      </h1>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam
                      </p>
                      <div class="btn-box">
                        <a href="" class="btn-1">
                          Read More
                        </a>
                        <a href="" class="btn-2">
                          Get A Quote
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </section>
    <!-- end slider section -->
  </div>


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Sobre o Lab ECO
        </h2>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% 'images/logo_labeco.svg' %}" alt="">
        </div>
        <div class="detail-box">
          <p>
            O Lab ECO, localizado dentro do Departamento de Engenharia Mecânica da Universidade Federal de Santa Catarina
            tem como foco projetos de Engenharia e Ciências Oceânicas.
          </p>
          <a href="">
            Saiba Mais
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding2-top">
    <!--
    <div class="container">
      <div class="info_form">
        <h4>
          Our Newsletter
        </h4>
        <form action="">
          <input type="text" placeholder="Enter your email">
          <div class="d-flex justify-content-end">
            <button>
              subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
    -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>
            Sobre o Projeto Boias Livres
          </h6>
          <p>
            O Projeto Boias Livres é promovido pelo Laboratório ECO, o Laboratório de Engenharia e Ciências Oceânicas
            da Universidade Federal de Santa Catarina.
          </p>
        </div>
        <div class="col-md-2 offset-md-1">
          <h6>
            Menus
          </h6>
          <ul>
            <li class=" active">
              <a class="" href="/index/">Início<span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="/about/">Sobre </a>
            </li>
            <li class="">
              <a class="" href="/boias/">Boias </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Useful Links
          </h6>
          <ul>
            <li>
              <a href="">
                Adipiscing
              </a>
            </li>
            <li>
              <a href="">
                Elit, sed
              </a>
            </li>
            <li>
              <a href="">
                do Eiusmod
              </a>
            </li>
            <li>
              <a href="">
                Tempor
              </a>
            </li>
            <li>
              <a href="">
                incididunt
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Nos Contate
          </h6>
          <div class="info_link-box">
            <a href="">
              <img src="{% static 'images/location-white.png' %}" alt="">
              <span>EMC - UFSC</span>
            </a>
            <a href="">
              <img src="{% static 'images/call-white.png' %}" alt="">
              <span>+55 12345678901</span>
            </a>
            <a href="http://www.veleiro.eco.br/pt/">
              <img src="{% static 'images/mail-white.png' %}" alt="">
              <span>Veleiro ECO</span>
            </a>
          </div>
          <div class="info_social">
            <div>
              <a href="">
                <img src="{% static 'images/facebook-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/twitter-logo-button.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
            </div>
            <div>
              <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <p>
      &copy; 2019 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>